<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="#" type="image/x-icon">
  <link rel="canonical" href="#"/>
  
  <title>
    Stock MGT - {% block title %}{% endblock %} | e_commerce
  </title> 

  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition {% block body_class %}{% endblock body_class %}">
<div class="wrapper">

    {% include 'includes/navigation.html' %}

    {% if session['role'] == 'admin' %}
        {% include 'includes/sidebar.html' %}
    {% else %}
        {% include 'includes/user_sidebar.html' %}
    {% endif %}

    {% block content %}{% endblock content %}

    {% include 'includes/footer.html' %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    window.onbeforeunload = function() {
        // Send a request to the server to log out
        fetch("{{ url_for('authentication_blueprint.logout') }}", { method: "POST" });
    };
</script>


{% endblock javascripts %}

</body>
</html>
